


.root {
    --noir:#080808;
    --blanc:#fff;
    ---jaune:#f0e109;
    ---bleu:#5191e4;
    ---rouge:#fa0909;
    ---vert:#23f90b;
}

.navbar {
    background-color: #fff;
    color: #f0e109;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 80px;
    margin-right: 10px;
}









/* la création de la navbar */

.menus {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.menus a {
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 20px;
  white-space: nowrap;

  background: #d6b35c; /* or clair effet */
  color: #1c1c1c;
}

.menus a:hover {
  background: #b8953d; /* or plus sombre */
  color: white;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#bcb5b545,#bcb5b545 ),url(/images/platdudebut.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    

    
}

.items-hero {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 30px;
    text-align: center;

}

.items-hero h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #f8f8f8;

}

.items-hero p {
    font-size: 1.5rem;
    text-transform: lowercase;

}

.items-hero a {
    font-size: 1rem;
    text-decoration: none;
    color: #060500;
    margin-top: 20px;
    text-transform: uppercase;
}


.items-hero a span {
     
    background-color: rgb(226, 245, 245);
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
}


.items-hero a span:hover {
    background-color: #b4b217;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

h1{
    text-align: center;
    color: #101010;
}


h2 {
    text-align: center;
    color: #0b5b02;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.card {
    width: 200px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 120px;
object-fit: cover;
border-radius: 8px;

}

.card h3 {
    font-size: 16px;
    margin: 8px;

}

.card p {
    font-size: 13px;
    color: #181816;
}


.gallerie {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gallerie img {
  width: 400px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.marks {
   display: flex;       
 justify-content: center;  
 gap: 10px;
}




.mark {
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.end {
    text-align: center;
    padding: 20px;
    font-size: 14px

 }

 .contact {
  display: flex;
  gap: 40px;
  padding: 50px ;
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.contact-call, .contact-news {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(184, 119, 119, 0.1);
}

.contact-call h2, .contact-news h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #d6b35c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b8953d;
}

.contact-news p {
  font-size: 16px;
  margin: 10px ;
 }


 .intro-carte {
  font-family: 'Dancing Script', cursive; /* police calligraphique */
  color: #9c8815; /* doré plus de style */
  font-size: 1.8rem;
  text-align: center;
  margin: 40px;
}

.para-texte {
    font-family: 'Dancing Script', cursive; 
  color: #9c8815; 
  font-size: 1.8rem;
  text-align: center;
  margin: 40px;
}


/* apprentissage de nouvelles balises*/

.separator-dark { 
  border: none;              
  height: 3px;               
  width: 60%;                
  background-color: #2f4f4f; 
  border-radius: 2px;        
  margin: 40px auto;         
}

footer {
    font-family: 'Dancing Script', cursive;
  background-color: #f4f3ed;
  padding: 40px 20px;
  text-align: center; 
}

.footer-content p {
  margin-bottom: 20px; /* espace entre le texte et les logos */
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}
