


.root {
    --noir:#080808;
    --blanc:#fff;
    ---jaune:#f0e109;
    ---bleu:#5191e4;
    ---rouge:#fa0909;
    ---vert:#23f90b;
}

.navbar {
    background-color: #fff;
    color: #f0e109;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 80px;
    margin-right: 10px;
}

.menus {
    display: flex;
    gap: 10px;
}

.menus a {
    text-decoration: none;
    color: #181816;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#bcb5b545,#bcb5b545 ),url(/images/platdudebut.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    

    
}

.items-hero {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 30px;
    text-align: center;

}

.items-hero h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: #f8f8f8;

}

.items-hero p {
    font-size: 1.5rem;
    text-transform: lowercase;

}

.items-hero a {
    font-size: 1rem;
    text-decoration: none;
    color: #060500;
    margin-top: 20px;
    text-transform: uppercase;
}


.items-hero a span {
     
    background-color: rgb(226, 245, 245);
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
}


.items-hero a span:hover {
    background-color: #15f4f8;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

h1{
    text-align: center;
    color: #101010;
}


h2 {
    text-align: center;
    color: #23f90b;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.card {
    width: 200px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 120px;
object-fit: cover;
border-radius: 8px;

}

.card h3 {
    font-size: 16px;
    margin: 8px;

}

.card p {
    font-size: 13px;
    color: #181816;
}


.gallerie {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.gallerie img {
  width: 400px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.marks {
   display: flex;       
 justify-content: center;  
 gap: 10px;
}




.mark {
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.end {
    text-align: center;
    padding: 20px;
    font-size: 14px

 }

 .contact {
  display: flex;
  gap: 40px;
  padding: 50px ;
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.contact-call, .contact-news {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-call h2, .contact-news h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff6b6b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4c4c;
}

.contact-news p {
  font-size: 16px;
  margin: 10px ;
 }


 .videos {
  display: flex;             
  justify-content: space-between; 
  align-items: flex-start;   
  gap: 15px;               
}

.video-card {
  border-radius: 5px;       
  overflow: hidden;          
}

.video-card iframe {
  border-radius: 5px;        
  display: block;            
}
